<select id="city">
    <option value="Select">Select City</option>
    <option value="Thiruvananthapuram">Thiruvananthapuram</option>
    <option value="Delhi ">Delhi</option>
    <option value="Chennai">Chennai</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Bengaluru">Bengaluru</option>
</select>
<!--<select id="countrySelect" name="country" onchange="getState(this.value)">-->
<!--    <option>Select Country</option>-->
<!--    <option value="USA">USA</option>-->
<!--    <option value="Canada">Canada</option>-->
<!--    <option value="England">England</option>-->
<!--    <option value="India">India</option>-->
<!--</select>-->
<div id="caste"></div>
<div class="container responsivegrid">
    <!--<div align="center"><h4>Current Weather</h4></div>-->

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunrise" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunset" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="tempmin" aria-label="Text input with checkbox"value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="tempmax" aria-label="Text input with checkbox" value="">
    </div>



    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunrise2" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunset2" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="tempmin2" aria-label="Text input with checkbox"value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="tempmax2" aria-label="Text input with checkbox" value="">
    </div>


    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunrise3" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunset3" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="tempmin3" aria-label="Text input with checkbox"value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="tempmax3" aria-label="Text input with checkbox" value="">
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunrise4" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunset4" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="tempmin4" aria-label="Text input with checkbox"value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="tempmax4" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunrise5" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunset5" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="tempmin5" aria-label="Text input with checkbox"value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="tempmax5" aria-label="Text input with checkbox" value="">
    </div>
</div>




